#back-btn {
    color: #607ae6;
    width: 10%;
    text-align: left;
    display: block;
    margin-top: 2px;
    cursor: pointer;
    display: inline-block;
}

/*
    Could use display:flex; on the parent element, but because flex boxes 
    are often not compatible with older browsers 
    I am doing this old-school.
*/

#msg-receiver {
    width: 80%;
    margin-right: 10%;
    text-align: center;
    display: inline-block;
}

.msg-view-body #none p {
    text-align: center;
    text-align: center;
    font-size: 18px;
    color: gray;
    letter-spacing: 0.3px;
    padding-top: 1rem;
}

.msg-view-container {
    height: 95%;
}
.msg-view-header {
    height: 5%;
}


.msg-view-body {     
    height: 95%;
}

@media screen and (max-height: 500px) {
    .msg-view-body { 
        height: 90%;
    }
}