.message-wrapper {
    display: block;
    width: 100%;
    margin: 0.5rem 0.25%;
}

.message-wrapper.personal {
    width: 99%;
}

.message-content {
    font-weight: 400;
    font-size: 14px;
    color: #000!important;
}

.message-wrapper .content-wrapper {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0.5rem 0.75rem;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 25px;
    border-top-left-radius: 10px;
    max-width: 50%;
}

.message-wrapper.personal .content-wrapper {
    border-radius: 25px;
    border-bottom-right-radius: 10px;
    background-color: #e4e9ec;
    margin: 0 0 0 auto;
}

#msg-view-footer {
    height: 10%;
    display: block;
}

.flex-input-btn.btn.send {
    display: inline-block;
    width: 18%;
    margin-top: 0;
}

.flex-input-msg.message-input.form-control {
    width: 70%;
    margin-right: 2%;
    display: inline-block;
}

#msg-view-body {
    height: 90%;
    padding: 1rem 0;
}