body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

body .container:first-of-type {
  height: 100%;
}


h1 {
  font-size: 1.5rem!important;
  font-weight: 700!important;
  margin-left: 0.2rem;
}

#list-container {
  padding: 1rem 0.5rem;
}